<!--
  Data should be formatted like so:
  include:
    url: string, up to the caller to decide
    topic: string
    content: markdown
    inline: bool = False
-->

<div class="horz-card">
  {% if include.inline == true %}
  {% if include.topic != "" %}
  <h1>{{include.topic}}</h1>
  {% endif %}
  {{include.content | markdownify }}
  {% else %}
  <a href="{{ include.url }}">
    {% if include.topic != "" %}
    <h1>{{include.topic}}</h1>
    {% endif %}
  </a>
  <a class="qabrief-link" href="{{ include.url }}">
    <span>{{include.content | truncatewords: 50 | markdownify | remove: '<p>' | remove: '</p>' }}</span>
    <a href="{{ include.url }}">more &#8250;&#8250;</a>
  </a>
  {% endif %}
</div>