{% for social in site.data.social %}

<!--Maybe only display starred social identities-->
{% if include.starred_only == true and social.star != true %}
{% continue %}
{% endif %}

{% capture icon %}
<figure style="display: inline-block; margin: 0;">
  {{ social.icon }}
  {% if include.detailed == true %}
  <figcaption style="font-size: small; height: 4rem; line-height: 1.333rem; overflow: hidden;">
    {% if social.display_id %}
    <code>{{ social.display_id }}</code>
    {% elsif social.id %}
    <code>{{ social.id }}</code>
    {% endif %}
    <br>
    {% if social.note %}
    {{ social.note }}
    {% endif %}
  </figcaption>
  {% else %}
  <figcaption style="font-size: small; height: 1.333rem; line-height: 1.333rem; overflow: hidden;">
    {% if social.display_id %}
    <code>{{ social.display_id }}</code>
    {% elsif social.id %}
    <code>{{ social.id }}</code>
    {% endif %}
  </figcaption>
  {% endif %}
</figure>
{% endcapture %}

<!--Maybe hyperlink icon-->
{% if social.url %}
<a href="{{ social.url }}" style="text-decoration: none;">{{ icon }}</a>
{% else %}
<span title="{{social.id}}">{{ icon }}</span>
{% endif %}

{% endfor %}