<ul class="card-text font-weight-light list-group list-group-flush">

  {% assign sorted_projects = site.projects | sort: "date" | reverse %}
  {% for project in sorted_projects %}
  {% if only_ml == true %}
  {% unless project.category contains "ai" %}
  {% continue %}
  {% endunless %}
  {% endif %}
  <li class="list-group-item">

    {% if project.redirect %}
    {% assign url = project.redirect %}
    {% else %}
    {% assign url = project.url | relative_url %}
    {% endif %}

    {% if project.hidden != true %}
    {% include horz_card.html
    img=project.img
    title=project.title
    url=url
    subtitle=project.description
    date=project.date
    start=project.start
    end=project.end
    github=project.github
    github_stars=project.github_stars
    under_construction=project.under_construction
    description=project.bullet_points
    %}
    {% endif %}
  </li>
  {% endfor %}

</ul>