---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}

      {% include figure.html
      path=profile_image_path
      class=profile_image_class
      alt=page.profile.image -%}
      {% endif -%}
      {%- if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news -%}
    <!-- News -->
    {%- include news.html %}
    {%- endif %}
    {% if page.selected_papers -%}
    <!-- Selected papers -->
    {%- include selected_papers.html %}
    {%- endif %}

    <!--I injected the cv here-->
    <div class="cv">
      {% for entry in site.data.cv %}
      <div class="card mt-3 p-3">
        <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
        <div>
          {% if entry.type == "list" %}
          {% include cv/list.html %}
          {% elsif entry.type == "map" %}
          {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
          {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
          {% include cv/time_table.html %}
          {% elsif entry.type == "cv_projects" %}
          {% include cv/cv_projects.html %}
          {% else %}
          {{ entry.contents }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    {% if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">
        {% include social.html
        starred_only=true
        detailed=false %}
      </div>

      <div class="contact-note">
        More ways to get in touch <a href="/bio#contact">here</a>
      </div>

    </div>
    {% endif %}
  </article>

</div>