---
layout: default
---
<!-- _layouts/mlcv.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a
        href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer"
        class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {%- assign only_ml = true -%}
    <div class="cv">
      {%- assign entry = site.data.cv | where: 'title', 'Projects' | first -%}
      {%- include cv_entry.html -%}
      {%- assign entry = site.data.cv | where: 'title', 'Education' | first -%}
      {%- include cv_entry.html -%}
      {%- assign entry = site.data.cv | where: 'title', 'Experience' | first -%}
      {%- include cv_entry.html -%}
      {%- assign entry = site.data.cv | where: 'title', 'Certifications' | first -%}
      {%- include cv_entry.html -%}
    </div>
    {%- assign only_ml = false -%}
  </article>

</div>